<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>О нас</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'about.css' %}">
</head>
<body>
	<table cellspacing="0" class="maket">
		<tr>
		
		<td class="leftcol">
		<div class="images">
		<div class="in_images">
			<img src="{% static picture %}" width="400" height="250" alt="My images"/>
		</div>
		</div>
		
		<div class="menu">
		<div class="in_menu">
		<ul class="nav nav-pills nav-stacked">
			<li><a style="color:#000000" href="{% url 'projects' %}">Проекты</a></li>
			<li><a style="color:#000000" href="{% url 'about' %}">О нас</a></li>
			<li><a style="color:#000000" href="{% url 'message' %}">Контакты</a></li>
		</ul>
		</div>
		</div>
		</td>
		
		<td class="spacer"></td>
		
		<td class="rightcol">
		<div class="header">
			<h1>Customer name</h1>
			<hr>
		</div>
		
		<div class="description">
			<p>{{ data }}<p>
			<hr>
		</div>
		
		<div class="message">
		<div class="in_message">
		<table cellspacing="0" class="send">
		<div class="in_message">
		<caption>About us!:</caption>
		<tr>
		<td class="col">
			<p/>
			<p>{{ info }}<p>
		</td>
		</tr>
		</div>
		</table>
		</div>
		</div>
		
		</tr>
	</table>
</body>
</html>