<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Контакты</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'message.css' %}">
</head>
<body>
	<table cellspacing="0" class="maket">
		<tr>
		
		<td class="leftcol">
		<div class="images">
		<div class="in_images">
			<img src="{% static picture %}" width="400" height="250" alt="My images"/>
		</div>
		</div>
		
		<div class="menu">
		<div class="in_menu">
		<ul class="nav nav-pills nav-stacked">
			<li><a style="color:#000000" href="{% url 'projects' %}">Проекты</a></li>
			<li><a style="color:#000000" href="{% url 'about' %}">О нас</a></li>
			<li><a style="color:#000000" href="{% url 'message' %}">Контакты</a></li>
			<li><a style="color:#000000" href="{% url 'post' %}">Блог</a></li>
		</ul>
		</div>
		</div>
		</td>
		
		<td class="spacer"></td>
		
		<td class="rightcol">
		<div class="header">
			<h1>Customer name</h1>
			<hr>
		</div>
		
		<div class="description">
			<p>{{ data }}<p>
			<hr>
		</div>
		
		<div class="message">
		<table cellspacing="0" class="send">
		<div class="in_message">
		<caption>Please contact us!:</caption>
		<tr>
		<td class="col">
		{% if errors %}
			<ul>
				{% for error in errors %}
					<li style="color: red;">{{ error }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<label>Please contact us!:</label><br/>
		<form action="/send" method="POST">
		<p/>
		<input size="54" name="guest_mail" type="text" value="Please type e-mail"><br/>
		<p/>
		<input size="54" name="message_title" type="text" value="Please type title"><br/>
		<p/> 
		<input size="54" name="your_name" type="text" value="Please type your full name"><br/>
		<p/>
		<textarea rows="10" cols="56" name="message_text">Please type a message</textarea><br/>
		<p/>
		<input style="color:#FFFFFF" class="input" type="submit" value="Send message">
		{% csrf_token %}
		</form>
		</td>
		</tr>
		</table>
		</div>
		</div>
		
		</td>
		</tr>
	</table>
</body>
</html>
