.maket {
	width: 100%; /* Ширина всей таблицы */
}
TD {
	vertical-align: top; /* Вертикальное выравнивание в ячейках */
	padding: 10px; /* Поля вокруг ячеек */
}
TD.leftcol {
	width: 480px; /* Ширина левой колонки */
	/*background: #ccc; * Цвет фона левой колонки */
	border: 0px solid #000; /* Параметры рамки */
}
TD.rightcol {
	/*background: #fc3; * Цвет фона правой колонки */
	border: 0px solid #000; /* Параметры рамки */
}
.spacer {
	width: 25px; /* Расстояние между колонками */
}
div.images{
	padding-left: 65px;
	padding-top: 35px;
}
div.in_images{
	box-shadow: 0 0 25px rgba(0,0,0,0.5);
}
.menu{
	padding-left: 65px;
	padding-top: 25px;
}
div.in_menu{
	border: 1px solid #2BD9F0;
	padding: 2px; /* Поля вокруг текста */
	border-radius: 10px;
	box-shadow: 0 0 25px rgba(0,0,0,0.5);
}
div.message{
	padding-left: 50px;
	padding-top: 32px;
}
.send{
	border-collapse: collapse;
	border-left: 2px solid #2BD9F0;
	border-right: 2px solid #2BD9F0;
	border-bottom: 2px solid #2BD9F0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: "Lucida Grande", sans-serif;
	width: 550px;
}
.send caption{
	background: #2BD9F0; 
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 10px;
	box-shadow: 0 5px  4px 0 rgba(0,0,0,0.3);
	color: white;
	font-family: "Roboto Slab",serif;
	font-style: normal;
	font-size: 26px;
	text-align: center;
	margin: 0;
}
div.in_message{
	margin-top: 0px;
}
p.content_text{
	float: right;
}
p.content_image{
	float: left;
}
.nav > li > a:hover, .nav > li > a:focus {background: #49C9E6; } ;